In [ ]:
## South Korea
- https://www.kaggle.com/kimjihoo/coronavirusdataset

In [2]:
import pandas as pd

In [18]:
df_patient = pd.read_csv('coronavirusdataset/patient.csv')
df_patient.head()

,patient_id,sex,birth_year,country,region,disease,group,infection_reason,infection_order,infected_by,contact_number,confirmed_date,released_date,deceased_date,state
0,1,female,1984.0,China,filtered at airport,NaN,NaN,visit to Wuhan,1.0,NaN,45.0,2020-01-20,2020-02-06,NaN,released
1,2,male,1964.0,Korea,filtered at airport,NaN,NaN,visit to Wuhan,1.0,NaN,75.0,2020-01-24,2020-02-05,NaN,released
2,3,male,1966.0,Korea,capital area,NaN,NaN,visit to Wuhan,1.0,NaN,16.0,2020-01-26,2020-02-12,NaN,released
3,4,male,1964.0,Korea,capital area,NaN,NaN,visit to Wuhan,1.0,NaN,95.0,2020-01-27,2020-02-09,NaN,released
4,5,male,1987.0,Korea,capital area,NaN,NaN,visit to Wuhan,1.0,NaN,31.0,2020-01-30,2020-03-02,NaN,released

In [22]:
df_route = pd.read_csv('coronavirusdataset/route.csv')
df_route.head()
df = pd.merge(df_patient, df_route, on='patient_id', how='right')

In [29]:
df['released_date'] = pd.to_datetime(df['released_date'])
df['confirmed_date'] = pd.to_datetime(df['confirmed_date'])
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['month'].unique()

array([1, 2])